h1 {
    color: red;
    background-color: blue;
}

/*Решётка для отдельных элементов*/
#main-title {
    color: aqua;
    background-color: blue;
}

img {
    width: 500px;
}

/*Точка для классов*/
.nice {
    color: red;
}
